<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
    <header>
        <!-- Logo del encabezado -->
        <div class="menu">
            <img class="logo_menu" src="../img/logobp31.png" alt="">    
           </div>
           
           <!-- Menu de navegación -->
           <nav class="menu">
            <a class="menu_vinculos" href="../index.html">Inicio</a>
            <a class="menu_vinculos" href="Servicios.html">Servicios</a>
            <a class="menu_vinculos" href="Recomendados.html">Recomendados</a>
            <a class="menu_vinculos" href="Mensajes.html">Mensajes</a>
            <a class="menu_vinculos" href="https://google.com.ar" target="_blank">Google</a>
              
           </nav>
</header>
    <main>
  <h1>Mensajes</h1>      
    </main>


</body>
</html>