<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendados</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>

<body>
    <header>
        <!-- Logo del encabezado -->
        <div class="menu">
            <img class="logo_menu" src="../img/logobp31.png" alt="">
        </div>

        <!-- Menu de navegación -->
        <nav class="menu">
            <a class="menu_vinculos" href="../index.html">Inicio</a>
            <a class="menu_vinculos" href="Servicios.html">Servicios</a>
            <a class="menu_vinculos" href="Recomendados.html">Recomendados</a>
            <a class="menu_vinculos" href="Mensajes.html">Mensajes</a>
            <a class="menu_vinculos" href="https://google.com.ar" target="_blank">Google</a>
            <link rel="stylesheet" href="../css/recomendados.css">
        </nav>
    </header>
    <main>
        <h1>Recomendados</h1>

        <section>
            <div class="conteiner">
                <img src="../img/aprendizajebasadoenproyectos.jpg" alt="">
                <img src="../img/LALENGUADESE_AS.jpg" alt="">
                <img src="../img/lelekaike.jpg" alt="">
                <img src="../img/MI_AMIGO_VAN_GOGH_B.jpg" alt="">
            </div>
        </section>

        <section class="s_conteiner_2">
            <div class="d_conteiner_2"> </div>
        </section>
        <section class="card_2">
            <div class="card">
                <img src="../img/aprendizajebasadoenproyectos.jpg" alt="">
                <h3>Título: Aprendizaje Basado en Proyectos</h3>
                <h4>Autores: Carnicero Sanguinetti, Silvana </h4>
                <!-- <p>Descripción: Aprendizaje Basado en Proyectos (ABP) es una metodología que pone en el centro de la
                    escena educativa a los estudiantes, sus intereses y habilidades. Se trata de una forma de construir
                    conocimiento, que conecta la educación con el mundo real: los contenidos de diferentes espacios
                    curriculares recuperan significación y sentido a partir de preguntas genuinas que los alumnos
                    reconocen como propias.</p> -->
            </div>

            <div class="card">
                <img src="../img/LALENGUADESE_AS.jpg" alt="">
                <h3>Título: La lengua de señas : : su importancia en la educación del sordo /</h3>
                <h4>Autores: Orri de Castorino, Rosa; Starico de Accomo, Mabel N., director </h4>
                <!-- <p>Descripción: Esta obra permite conocer aspectos que tienen que ver con la comunidad sorda y su
                    inclusión dentro del concierto social.Constituye una interesante propuesta destinada a los docentes.
                    en general. y a todos aquellos que se interesan por la normalización de los sujetos con necesidades
                    educativas especiales. La autora ha ejercido sucesivamente como maestra. directora y supervisora en
                    escuelas para sordos. Ha actuado tanto en el ámbito nacional como en el de la Ciudad de Buenos
                    Aires. En este último. se desempeña actualmente como capacitadora de CEPA (Centro de Pedagogías de
                    Anticipación) y como coordinadora de un servicio para sordos con trastornos emocionales severos. de
                    la Dirección del Area de Educación Especial. El libro rescata la innegable necesidad de atender a la
                    problemática de la educación del sordo y apoyar la práctica de los docentes especializados en esta
                    área. Ha publicado. en esta editorial. La adquisición de la lengua en el discapacitado auditivo.</p> -->
            </div>


            <div class="card">
                <img src="../img/lelekaike.jpg" alt="">
                <h3>Título: Lelek Aike : del destierro a la comunidad</h3>
                <h4>Autores: Pérez, Liliana </h4>
                <!-- <p>Descripción: El topónimo que titula este libro actúa como resumen de una larga historia de violencia, despoos y resistencias: reconstruida aquí tras un exhaustivo trabajo con fuentes éditas e inédtas de diversa índole: crónicas de viajeros, documentos oficiales, fotografías, la memoria oral y la voz de los propios actores. Una historia de largo aliento que comienza con algunos agentes estatales extranjeros y nacionales mapeando las mejores tierras de la precordillera y cordillera patagónica, que fueron arrasadas por la mal llamada Conquista del Desierto, para regalárselas a los grandes capitales, literalmente, contraviniendo todas las leyes del momento.</p> -->
            </div>

            <div class="card">
                <img src="../img/MI_AMIGO_VAN_GOGH_B.jpg" alt="">
                <h3>Título: Mi amigo Van Gogh</h3>
                <h4>Autores: Obiols, Anna; Subi, ilustrador; García Henriquez de Sury, Marcela, traductor</h4>
                <!-- <p>Descripción: Esta serie introduce a los niños en la obra de algunos de los artistas más importantes del mundo. La idea es lograrlo de manera tal que resulte entretenido, interesante y atractivo para los jóvenes lectores. Por eso, se presenta el trabajo de estos artistas a través de un cuento basado en las principales creaciones de cada pintor, al que se suma una breve biografía y una reseña sobre el movimiento al que perteneció y los aspectos destacados de su estilo y su técnica.</p> -->
            </div>

        </section>
    </main>

</body>

</html>